.copyright__info {
  padding-left: 80px;
  padding-bottom: 26px;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

.copyright__link svg {
  fill: $black;
}

.copyright__link svg:hover {
  fill: $lightblue;
}

.copyright__link svg:active {
  fill: $black;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .copyright__info {
    margin: 0 60px 0 0;
  }
}

@media (min-width: 1200px) {
  .copyright__info {
    margin: 0 120px 0 0;
  }
}
