.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  padding-left: 80px;
}

@media (min-width: 768px) {
  .copyright__info {
    margin: 0 60px 0 0;
  }
}
