.features__blue {
  background-color: $lightblue;
}

.features__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

.features__number {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}

.features__description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}
