.features-short {
  background-color: $lightlightgrey;
  color: $black;
}

.features-short__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

.features-short__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
}

.features-short-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
}

@media (min-width: 768px) {
  .features-short__title {
    font-size: 21px;
  }

  .features-short-description {
    font-size: 14px;
    line-height: 26px;
  }

  .features__third {
    padding: 42px 34px 63px 33px;
  }

  .features__fourth {
    padding: 42px 48px 41px 46px;
  }

  .features__fifth {
    padding: 42px 40px 42px 41px;
  }
}

@media (min-width: 1200px) {
  .features__third {
    padding: 43px 43px 62px 42px;
  }

  .features__fourth {
    padding: 42px 54px 62px;
  }

  .features__fifth {
    padding: 43px 55px 62px;
  }
}
