.features-short {
  background-color: $lightlightgrey;
  color: $black;
}

.features-short:not(:last-child) {
  border-bottom: 1px solid $greygrey;
}

.features-short__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

.features-short__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
}

.features-short-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
}

@media (min-width: 768px) {
  .features-short:not(:last-child) {
    border-bottom: none;
  }

  .features-short__title {
    font-size: 21px;
  }

  .features-short-description {
    font-size: 14px;
    line-height: 26px;
  }
}
