.features__wrapper {
  text-align: center;
}

.features__header,
.features__header-second {
  background-color: $lightblue;
  padding: 39px 16px 35px 15px;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  margin: 0;
}

.features__number {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}

.features__description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  margin: 0;
}

.features__photo img {
  display: block;
}

.features__third {
  padding: 26px 26px 24px;
}

.features__fourth {
  padding: 25px 41px 24px 42px;
}

.features__fifth {
  padding: 25px 22px 24px;
}

@media (min-width: 768px) {
  .features__block {
    display: flex;
  }

  .features__header,
  .features__header-second {
    padding: 40px 32px 44px;
    flex-basis: 256px;
    flex-shrink: 0;
  }

  .features__title {
    font-size: 21px;
  }

  .features__header-second {
    order: 2;
  }

  .features__description {
    font-size: 14px;
  }

  .features__third {
    padding: 42px 34px 63px 33px;
  }

  .features__fourth {
    padding: 42px 48px 41px 46px;
  }

  .features__fifth {
    padding: 42px 40px 42px 41px;
  }

  .features-content__list {
    padding-left: 36px;
    padding-right: 31px;
  }

  .features-content__item {
    padding-top: 158px;
    padding-bottom: 60px;
  }

  .features__content-short {
    display: flex;
  }
}

@media (min-width: 1200) {
  .features__block {
    padding-bottom: 159px;
  }

  .features__photo {
    flex-grow: 2;
  }

  .features__header,
  .features__header-second {
    padding: 47px 52px 57px 53px;
  }

  .features__third {
    padding: 43px 43px 62px 42px;
  }

  .features__fourth {
    padding: 42px 54px 62px;
  }

  .features__fifth {
    padding: 43px 55px 62px;
  }
}
