.features-short {
  background-color: $lightlightgrey;
  color: $black;
}

.features-short__title {
  font-size: 21px;
  line-height: 15px;
  font-weight: 700;
  color: $black;
}

.features-short__number {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $black;
}

.features-short-description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $black;
}

@media (min-width: 768px) {
  .features-short {}
}
