.hotel-search__wrapper {
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.hotel-search__button {
  width: 280px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  background-color: $lightblue;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 49px;
}

.hotel-search__button:hover {
  background-color: $middleblue;
}

.hotel-search__button:active {
  background-color: $darkblue;
  opacity: 0.3;
}

.hotel-search__button:disabled {
  background-color: $middlegrey;
  opacity: 1;
}

@media (min-width: 768px) {
  .hotel-search__wrapper {
    padding: 58px 155px 58px;
  }

  .hotel-search__description {
    padding-bottom: 37px;
    margin: 0;
  }

  .hotel-search__button {
    width: 458px;
  }
}

@media (min-width: 1200px) {
  .hotel-search__wrapper {
    padding: 58px 371px 66px;
  }

  .hotel-search__title {
    font-size: 30px;
    margin: 0;
    padding-bottom: 42px;
  }

  .hotel-search__description {
    margin: 0;
    padding-bottom: 42px;
  }

  .hotel-search__button {
    margin: 0;
  }
}
