.intro-catalog__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.intro-catalog__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}
