.intro-form {
  text-align: center;
}

.intro-form__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
}

.intro-form__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .intro-form__wrapper {
    padding: 64px 168px 60px 166px;
  }

  .intro-form__slogan {
    font-size: 30px;
  }
}
