.intro-catalog__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.intro-catalog__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .intro-catalog__slogan {
    font-size: 30px;
    margin: 65px 155px;
  }

  .intro-catalog__text {
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 65px;
  }
}
