.map__link-mini img {
  display: block;
  text-align: center;
  width: 320px;
  padding-bottom: 38px;
}

@media (min-width: 768px) {
  .map__link-mini img {
    padding-bottom: 36px;
    width: 100%;
    height: 350px;
    margin: 0;
  }
}
