.page-footer__hashtag p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  padding-left: 76px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
  }

  .page-footer__hashtag p {
    padding-left: 45px;
    padding-top: 12px;
  }
}
