.popup__wrapper-submit {
  padding: 38px 39px 29px 37px;
}

.popup__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.popup__button--submit {
  width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $lightblue;
  text-align: center;
}

.popup__button--error {
  width: 180px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $lightblue;
  text-align: center;
  margin-left: 70px;
  margin-bottom: 35px;
}

.popup__button-wrapper-submit {
  background-color: $lightgrey;
  margin: 20px;
}

.popup__button-wrapper-error {
  background-color: $lightgrey;
  margin: 20px;
}

@media (min-width: 768px) {
  .popup__button--error {
    width: 272px;
    height: 58px;
    margin: 0 0 49px 0;
  }

  .popup__button-wrapper-submit {
    margin: 0 64px 0 64px;
    width: 640px;
    height: 146px;
    text-align: center;
    padding-top: 44px;
  }

  .popup__button-wrapper-error {
    margin: 0 64px 0 64px;
    text-align: center;
    padding-top: 18px;
    background-color: $white;
  }
}

@media (min-width: 1200px) {
  .popup__button-wrapper-submit {
    margin-left: 279px;
  }
}
