.popup__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.popup__button--submit {
  width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $lightblue;
  text-align: center;
  margin-left: 20px;
}

.popup__button--error {
  width: 180px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $lightblue;
  text-align: center;
  margin-left: 70px;
  margin-bottom: 35px;
}
