.review-radio__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 37px;
}

.review-radio__item label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

.review-radio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review-radio__list li:not(:last-child) {
  margin-bottom: 43px;
}

@media (min-width: 768px) {
  .review-radio {
    width: 50%;
    order: -1;
  }

  .review-radio__title {
    font-size: 21px;
  }
}
