.review-adress__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.review-adress__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $greydark;
  text-transform: uppercase;
  padding-left: 42px;
}

.review-adress__input {
  background-color: $lightgrey;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 20px;
  padding-left: 22px;
  border: none;
}

placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}
