a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


// 320px — мобильная версия,
// 768px — планшетная версия,
// 1200px — десктопная версия.

.wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}


// @media (min-width: 768px) {
//   .wrapper {
//     width: 768px;
//   }
// }

// @media (min-width: 1200px) {
//   .wrapper {
//     width: 1200px;
//   }
// }
