// Colors

$lightblue: #81B3D2;
$middleblue: #669EC0;
$darkblue:  #5496BD;
$lightlightgrey: #EEEEEE;
$lightgrey: #F2F2F2;
$middlegrey: #E5E5E5;
$grey: #D5D5D5;
$greymiddledark: #5C6870;
$greydark: #333333;
$black: #000000;
$white: #FFFFFF;


//Fonts

$font-family: "PT Sans", sans-serif;
